<div class="gradient-custom border">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/">Homepage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/coins" tabindex="-1">Coins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/mining_types" tabindex="-1">Mining Types</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" tabindex="-1">Disabled</a>
    </li>
  </ul>
</div>


